<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/dr_attack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,715},{82,76}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,224},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/dr_attack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,639},{82,76}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,224},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/dr_attack_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,779},{82,76}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,224},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/dr_attack_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,717},{82,76}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,224},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/dr_attack_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,645},{82,76}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,224},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/dr_attack_f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,637},{82,76}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,224},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/dr_attack_f_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,561},{82,76}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,224},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/dr_die_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,277},{98,72}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,229},{98,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dr_shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{102,58}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,242},{102,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>effect/dr_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,151}}</string>
                <key>sourceSize</key>
                <string>{174,151}</string>
            </dict>
            <key>effect/dr_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,151},{150,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,155}}</string>
                <key>sourceSize</key>
                <string>{152,157}</string>
            </dict>
            <key>effect/dr_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,152},{153,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{153,123}}</string>
                <key>sourceSize</key>
                <string>{155,125}</string>
            </dict>
            <key>effect/dr_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{148,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{148,169}}</string>
                <key>sourceSize</key>
                <string>{150,171}</string>
            </dict>
            <key>effect/dr_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{144,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,107}}</string>
                <key>sourceSize</key>
                <string>{146,109}</string>
            </dict>
            <key>effect/dr_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{147,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{147,165}}</string>
                <key>sourceSize</key>
                <string>{149,167}</string>
            </dict>
            <key>effect/dr_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{146,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,96}}</string>
                <key>sourceSize</key>
                <string>{148,98}</string>
            </dict>
            <key>effect/dr_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,277},{118,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,94}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>move/back/dr_move_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{88,84}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,218},{88,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/dr_move_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,539},{86,78}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,221},{86,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/dr_move_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,559},{82,76}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,220},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/dr_move_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,455},{82,82}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,216},{82,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/dr_move_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,373},{86,84}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,217},{86,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/dr_move_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,469},{86,78}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,224},{86,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/dr_move_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,557},{86,74}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,225},{86,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/dr_move_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,373},{88,80}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,221},{88,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/dr_move_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,387},{78,86}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,217},{78,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/dr_move_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,475},{82,78}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,221},{82,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/dr_move_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,151},{88,70}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,227},{88,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/dr_move_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,377},{90,72}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,226},{90,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/dr_move_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,303},{88,76}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,223},{88,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/dr_move_br_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{84,80}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,220},{84,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/dr_move_br_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{80,80}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,217},{80,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/dr_move_br_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{76,82}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,219},{76,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/dr_move_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,935},{80,70}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,220},{80,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/dr_move_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,477},{82,76}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,220},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/dr_move_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,303},{82,82}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,220},{82,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/dr_move_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,541},{82,80}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,219},{82,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/dr_move_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,581},{84,74}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,220},{84,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/dr_move_f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,667},{82,74}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,226},{82,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/dr_move_f_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,325},{82,70}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,225},{82,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/dr_move_f_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,241},{82,70}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,221},{82,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/dr_move_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{78,84}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,218},{78,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/dr_move_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,699},{78,80}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,220},{78,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/dr_move_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,889},{78,76}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,221},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/dr_move_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,871},{78,76}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,219},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/dr_move_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,409},{84,72}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,220},{84,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/dr_move_fr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,627},{88,72}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,226},{88,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/dr_move_fr_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,495},{84,74}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,223},{84,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/dr_move_fr_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,795},{80,76}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,219},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/dr_move_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{88,80}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,221},{88,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/dr_move_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,623},{88,74}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,223},{88,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/dr_move_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,459},{84,80}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,220},{84,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/dr_move_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,729},{76,80}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,219},{76,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/dr_move_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,829},{74,80}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,218},{74,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/dr_move_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,873},{74,76}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,221},{74,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/dr_move_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,905},{72,78}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,221},{72,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/dr_move_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,393},{82,78}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,222},{82,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/dr_stand_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,751},{80,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,235},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/dr_stand_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,873},{80,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,235},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/dr_stand_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,811},{80,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,235},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/dr_stand_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,793},{80,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,235},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/dr_stand_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,717},{80,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,235},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/dr_stand_f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{80,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,235},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/dr_stand_f_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,857},{80,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,235},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/dr_stand_f_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,795},{80,76}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,235},{80,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragoon.pvr.ccz</string>
            <key>size</key>
            <string>{578,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5678629b9e24ef9092c242a329672090:1/1$</string>
            <key>textureFileName</key>
            <string>dragoon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
