<?xml version='1.0' encoding='UTF-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.u8.sdk.test.jinli" android:installLocation="preferExternal" android:theme="@android:style/Theme.NoTitleBar">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true" />
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.u8.sdk.U8Appliction4Unicom">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.u8.sdk.test.MainActivity" android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="ulog.enable" android:value="true" />
        <meta-data android:name="ulog.level" android:value="DEBUG" />
        <meta-data android:name="ulog.local" android:value="true" />
        <meta-data android:name="ulog.remote" android:value="true" />
        <meta-data android:name="ulog.remote_interval" android:value="500" />
        <meta-data android:name="ulog.remote_url" android:value="http://192.168.18.9:8080/" />
    <activity android:configChanges="screenSize|orientation" android:exported="true" android:name="com.unicom.wostore.unipay.paysecurity.SecurityActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        
        <activity android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="behind">
        </activity>
        <activity android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:name="com.alipay.sdk.auth.AuthActivity" android:screenOrientation="behind">
        </activity>
        
        <service android:name="com.unicom.wostore.unipay.paysecurity.SecurityServiceFramework" />
        <service android:name="com.unicom.wostore.unipay.paysecurity.UpdateService" android:process=":unicomuptsrv" />
        
        <activity android:name="cn.cmgame2_0.launch_model.shortcut.main.MiguHomeActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="cn.cmgame2_0.category.migu_home" />
            </intent-filter>
        </activity>

        <service android:name="cn.cmgame.billing.service.GameService"> </service>
        
        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:name="cn.egame.terminal.paysdk.EgamePayActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>

        <receiver android:name="cn.egame.terminal.sdk.EgameCoreReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="cn.egame.terminal.sdk.RECEIVER_CMD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="cn.egame.terminal.sdk.EgameCoreService" android:process=":egameCore">
            <intent-filter>
                <action android:name="cn.egame.terminal.sdk.SERVICE_CMD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
        <activity android:configChanges="screenSize|keyboardHidden|orientation" android:name="cn.egame.terminal.sdk.EgameCoreActivity" android:process=":egameCore" android:screenOrientation="behind" android:taskAffinity=":egameCore" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        
    <meta-data android:name="U8_APPLICATION_PROXY_NAME" android:value="com.u8.sdk.operatorPayProxyApplication,com.u8.sdk.JinLiproxyApplication" /></application>
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.SEND_SMS" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
        <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        <uses-permission android:name="android.permission.CALL_PHONE" />
        <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
        <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
        <uses-permission android:name="android.permission.READ_CONTACTS" />
        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
        <uses-permission android:name="android.permission.GET_TASKS" />
        
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	    </manifest>