<?xml version='1.0' encoding='UTF-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.morefun.xsanguo.vivo" platformBuildVersionCode="20" platformBuildVersionName="4.4W-1246132" android:installLocation="auto">
    <uses-feature android:glEsVersion="0x20000" />
    <application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.u8.sdk.U8Application">
        <meta-data android:name="android.app.lib_name" android:value="cocos2dlua" />
        <activity android:configChanges="orientation" android:label="@string/app_name" android:name="org.cocos2dx.lua.AppActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <meta-data android:name="APP_MONITOR_APPID" android:value="b1002c" />        
        
        
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/vivo_app_name" android:name="com.vivo.sdkplugin.activity.LoginActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.ChangePassWordActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.BindQuestionActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.BindPhoneActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.GameInfoMoreListActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.vivo.sdkplugin.activity.AccountPersonalCenterActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.AccountAssistWebViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.FindpwdVerifyPhoneNumActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.LoginDialogActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.UserFeedBackActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.SetpwdActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.RegisterEmailActiviy" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.RegisterActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.PhoneRegisterCommitActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.RegisterOneKeyActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.VerifyPhoneNumActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.FindPasswordActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.SetPassWordActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.RegisterProtocolActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.CommitUserIdentifyActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.CommitUserContactActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.StrategyDetailActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.SubAccountActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.SubAccountEditActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.SubAccountEditCommitActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vivo.sdkplugin.activity.SubAccountAddCommitActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.bbk.payment.dealRecord.VivoDealRecordActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.bbk.payment.dealRecord.VivoDealRecordDetailActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:label="" android:name="com.bbk.payment.PaymentActivity" android:screenOrientation="portrait" android:theme="@style/pop_full_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:label="" android:name="com.bbk.payment.PaymentRechargeActivity" android:screenOrientation="portrait" android:theme="@style/pop_full_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:label="" android:name="com.bbk.payment.SelectMoreChannelActivity" android:screenOrientation="portrait" android:theme="@style/pop_translucent_full_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:label="" android:name="com.bbk.payment.TicketActivity" android:screenOrientation="portrait" android:theme="@style/pop_translucent_full_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:allowTaskReparenting="true" android:configChanges="keyboardHidden|orientation" android:label="" android:name="com.bbk.payment.PaymentActionActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity="com.bbk.payment.PaymentActionActivity" android:theme="@style/pop_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		
		
		
        <activity android:name="com.bbk.payment.CardActivity" android:screenOrientation="portrait" android:theme="@style/vivo_animation_transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbk.payment.RechargeChoiceActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbk.payment.PaySuccActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbk.payment.JCardActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbk.payment.DetectPayResultActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbk.payment.PayContinueActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbk.payment.RechargeFailActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbk.payment.PaymentDetailsActivity" android:noHistory="true" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:excludeFromRecents="true" android:name="com.unionpay.uppay.PayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:name="com.alipay.sdk.auth.AuthActivity" android:screenOrientation="behind">
        </activity>
        <activity android:name="com.bbk.payment.tenpay.VivoQQPayResultActivity" android:screenOrientation="portrait" android:theme="@style/pop_view" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/bbk_app_name" android:name="com.bbkmobile.iqoo.payment.PaymentActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.bbkmobile.iqoo.payment.CardActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bbkmobile.iqoo.payment.tenpay.VivoQQPayResultActivity" android:screenOrientation="portrait" android:theme="@style/pop_view" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <service android:enabled="true" android:name="com.vivo.sdkplugin.accounts.LocalService" />
        <service android:enabled="true" android:name="com.vivo.sdkplugin.accounts.LogWatcherService" />
        <service android:exported="true" android:name="com.vivo.assist.AssistService">
            <intent-filter>
                <action android:name="com.vivo.assist_manager_service" />
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.vivo.sdkplugin.service.VivoAccountService">
        </service>
        <receiver android:name="com.vivo.sdkplugin.accounts.SendMsgReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SENT_SMS_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.vivo.sdkplugin.accounts.ManageAccountReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <service android:name="com.vivo.plugin.aidl.LoginAccInfoService">
            <intent-filter>
                <action android:name="com.vivo.plugin.aidl.service" />
            </intent-filter>
        </service>
     	<receiver android:name="com.vivo.sdkplugin.accounts.VivoApkInstallRecevier">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.vivo.sdkplugin.accounts.VivoIThemeChangeRecevier">
            <intent-filter>
                <action android:name="com.android.settings.font_size_changed" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="intent.action.theme.changed" />
                <action android:name="android.intent.action.FONT_CONFIG_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.bbkmobile.iqoo.payment.util.ManagePamentReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        
    <activity android:exported="true" android:launchMode="singleTop" android:name="com.morefun.xsanguo.vivo.wxapi.WXPayEntryActivity" android:theme="@style/pop_view" android:windowSoftInputMode="stateAlwaysHidden" /><activity android:exported="true" android:launchMode="singleTop" android:name="com.morefun.xsanguo.vivo.wxapi.WXSPayEntryActivity" android:theme="@style/pop_view" android:windowSoftInputMode="stateAlwaysHidden" /></application>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="com.bbk.account.permission.READ_ACCOUNTINFO" />
    <uses-permission android:name="com.bbk.account.permission.WRITE_ACCOUNTINFO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.REORDER_TASKS" /> 
        
    </manifest>