<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_effect/co_ect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,326},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>atk_effect/co_ect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,308},{37,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,22}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>atk_effect/co_ect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,272},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>atk_effect/co_ect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,496},{34,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,28}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>attack/back/co_attack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,256},{56,46}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{56,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/co_attack_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,388},{56,48}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{56,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/co_attack_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,568},{56,48}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{56,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/co_attack_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,568},{56,48}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,53},{56,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/co_attack_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,568},{56,48}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{56,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/co_attack_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,322},{64,52}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,53},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/co_attack_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,368},{64,52}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,52},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/co_attack_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,422},{64,52}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/co_attack_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,312},{64,54}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/co_attack_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,256},{64,54}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,53},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/co_attack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,436},{56,52}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,50},{56,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/co_attack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,554},{56,52}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,50},{56,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/co_attack_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,326},{56,52}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{56,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/co_attack_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,438},{56,50}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{56,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/co_attack_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,504},{56,50}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,50},{56,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/co_attack_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,368},{64,52}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/co_attack_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,256},{64,52}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,48},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/co_attack_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,502},{64,52}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,48},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/co_attack_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,302},{66,50}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{66,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/co_attack_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,272},{64,50}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{64,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/co_attack_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,558},{56,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,51},{56,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/co_attack_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,500},{56,50}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,50},{56,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/co_attack_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,326},{56,52}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,48},{56,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/co_attack_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,324},{58,52}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,50},{58,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/co_attack_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,272},{56,52}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{56,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>die/co_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,352}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{352,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,304},{238,262}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,129},{238,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{186,376}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,83},{186,376}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{268,268}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,117},{268,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,314},{276,286}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,112},{276,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,314},{282,306}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,107},{282,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,308},{290,318}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,114},{290,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{300,336}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,105},{300,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{304,362}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,84},{304,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{310,342}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,109},{310,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/co_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{252,358}}</string>
                <key>offset</key>
                <string>{36,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,96},{252,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/co_move_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,438},{56,44}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,52},{56,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/co_move_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,548},{56,44}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,52},{56,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/co_move_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,490},{56,44}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,53},{56,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/co_move_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,544},{56,44}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,52},{56,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/co_move_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,256},{56,44}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,52},{56,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/co_move_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,256},{56,44}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,52},{56,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/co_move_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,568},{64,48}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,55},{64,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/co_move_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,324},{64,50}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,54},{64,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/co_move_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,272},{64,50}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,54},{64,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/co_move_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,434},{64,50}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,54},{64,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/co_move_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,568},{64,48}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,55},{64,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/co_move_br_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,476},{64,50}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,53},{64,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/co_move_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,380},{56,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/co_move_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,380},{56,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/co_move_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,378},{56,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/co_move_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,376},{56,56}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/co_move_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,496},{56,56}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/co_move_f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,438},{56,56}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/co_move_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,302},{64,54}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,49},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/co_move_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,544},{64,54}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/co_move_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,544},{64,54}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/co_move_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,544},{64,54}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/co_move_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,544},{64,54}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/co_move_fr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{64,54}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/co_move_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,542},{54,50}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{54,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/co_move_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,490},{54,50}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{54,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/co_move_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,542},{54,50}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{54,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/co_move_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,438},{54,50}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{54,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/co_move_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,490},{54,50}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,49},{54,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/co_move_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,562},{54,50}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,49},{54,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move_ect/co_mo_e_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,594},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>move_ect/co_mo_e_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,438},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>shadow/co_shd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,554},{56,34}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,67},{56,34}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/co_shd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,438},{64,36}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,64},{64,36}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/co_shd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,380},{56,34}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,68},{56,34}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/co_shd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,528},{64,36}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,69},{64,36}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/co_shd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,496},{56,34}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,63},{56,34}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/co_stand_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,256},{56,46}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{56,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/co_stand_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,436},{64,52}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,53},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/co_stand_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,272},{56,52}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,50},{56,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/co_stand_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,370},{64,52}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,48},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/co_stand_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,566},{56,50}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,51},{56,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>corsair.pvr.ccz</string>
            <key>size</key>
            <string>{2035,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eb0e4e1cd7ed2c738721ed885cc3612:1/1$</string>
            <key>textureFileName</key>
            <string>corsair.pvr.ccz</string>
        </dict>
    </dict>
</plist>
