<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/back/gu_attack_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,365},{86,40}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,47},{86,40}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/gu_attack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,429},{84,40}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{84,40}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/gu_attack_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,618},{94,44}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,49},{94,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/gu_attack_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,490},{92,44}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,48},{92,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/gu_attack_br_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,471},{68,46}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{68,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/gu_attack_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,685},{70,40}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,50},{70,40}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/gu_attack_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,536},{80,52}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,46},{80,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/gu_attack_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,388},{80,52}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,48},{80,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/gu_attack_f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,313},{86,50}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{86,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/gu_attack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,618},{84,46}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{84,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/gu_attack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,209},{94,40}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,41},{94,40}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/gu_attack_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,388},{94,42}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{94,42}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/gu_attack_fr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,802},{70,56}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{70,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/gu_attack_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,942},{68,52}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,45},{68,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/gu_attack_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,767},{80,46}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,42},{80,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/gu_attack_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,849},{78,52}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{78,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/gu_attack_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,849},{50,54}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{50,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/gu_attack_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,808},{54,50}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{54,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/gu_attack_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,631},{56,52}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{56,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/gu_attack_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,639},{54,56}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,45},{54,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>die/gu_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{182,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,155}}</string>
                <key>sourceSize</key>
                <string>{182,155}</string>
            </dict>
            <key>die/gu_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{218,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,191}}</string>
                <key>sourceSize</key>
                <string>{218,191}</string>
            </dict>
            <key>die/gu_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{232,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,205}}</string>
                <key>sourceSize</key>
                <string>{232,205}</string>
            </dict>
            <key>die/gu_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,208}}</string>
                <key>sourceSize</key>
                <string>{232,208}</string>
            </dict>
            <key>die/gu_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{213,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,205}}</string>
                <key>sourceSize</key>
                <string>{213,205}</string>
            </dict>
            <key>die/gu_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,209},{175,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{175,177}</string>
            </dict>
            <key>move/back/gu_move_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,159},{88,56}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,46},{88,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/gu_move_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{92,56}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{92,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/gu_move_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,612},{94,54}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{94,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/gu_move_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{94,54}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,49},{94,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/gu_move_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{92,54}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,49},{92,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/gu_move_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{88,56}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,47},{88,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/gu_move_br_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,860},{86,62}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,47},{86,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/gu_move_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,796},{86,62}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,47},{86,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/gu_move_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,432},{86,60}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,50},{86,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/gu_move_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,305},{86,60}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{86,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/gu_move_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,732},{86,62}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,49},{86,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/gu_move_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,668},{86,62}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{86,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/gu_move_f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,265},{88,46}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{88,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/gu_move_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,924},{92,46}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,44},{92,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/gu_move_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,442},{94,46}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,45},{94,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/gu_move_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,159},{94,46}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{94,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/gu_move_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,618},{90,46}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,45},{90,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/gu_move_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,217},{88,46}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{88,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/gu_move_fr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,742},{82,60}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{82,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/gu_move_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,680},{82,60}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{82,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/gu_move_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,556},{84,60}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,43},{84,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/gu_move_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,494},{84,60}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{84,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/gu_move_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,618},{82,60}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{82,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/gu_move_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,367},{82,60}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{82,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/gu_move_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,860},{62,66}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{62,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/gu_move_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,407},{62,64}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,46},{62,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/gu_move_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{62,66}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{62,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/gu_move_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,407},{62,64}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{62,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/gu_move_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,860},{62,64}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{62,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/gu_move_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,860},{62,64}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,46},{62,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/gu_shadow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,788},{90,30}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,62},{90,30}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/gu_shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,685},{80,42}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,59},{80,42}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/gu_shadow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,471},{90,34}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{90,34}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/gu_shadow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,903},{78,42}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,57},{78,42}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/gu_shadow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,963},{54,46}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,57},{54,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/gu_stand_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,305},{90,44}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,47},{90,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/gu_stand_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,924},{92,44}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,48},{92,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/gu_stand_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,714},{92,44}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,48},{92,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/gu_stand_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,670},{94,44}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,49},{94,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/gu_stand_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,924},{92,44}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,49},{92,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/gu_stand_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,257},{90,46}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,47},{90,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/gu_stand_br_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,767},{80,54}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,47},{80,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/gu_stand_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,685},{80,54}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,47},{80,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/gu_stand_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,704},{82,52}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,50},{82,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/gu_stand_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,860},{80,54}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,49},{80,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/gu_stand_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,804},{82,54}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,49},{82,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/gu_stand_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,536},{80,54}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{80,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/gu_stand_f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,710},{90,48}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,42},{90,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/gu_stand_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,924},{92,46}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,44},{92,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/gu_stand_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,924},{92,44}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,46},{92,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/gu_stand_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,766},{92,44}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,46},{92,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/gu_stand_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,924},{92,46}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{92,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/gu_stand_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,207},{90,48}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,43},{90,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/gu_stand_fr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,567},{78,58}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{78,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/gu_stand_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,551},{78,56}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,42},{78,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/gu_stand_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,471},{78,54}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,45},{78,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/gu_stand_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,947},{78,56}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{78,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/gu_stand_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,627},{78,56}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{78,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/gu_stand_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,507},{78,58}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{78,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/gu_stand_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,961},{54,58}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,45},{54,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/gu_stand_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,905},{54,58}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,46},{54,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/gu_stand_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,905},{54,56}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{54,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/gu_stand_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,757},{54,58}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{54,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/gu_stand_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,579},{54,58}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{54,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/gu_stand_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,519},{54,58}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{54,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guardian.pvr.ccz</string>
            <key>size</key>
            <string>{637,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12af313cdb02f58de2717568f9b72918:1/1$</string>
            <key>textureFileName</key>
            <string>guardian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
