<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/back/qu_attack_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,159},{58,62}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{58,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/qu_attack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,220},{56,60}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,35},{56,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/qu_attack_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{82,62}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{82,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/qu_attack_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,419},{76,60}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{76,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/qu_attack_br_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,271},{58,72}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{58,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/qu_attack_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,339},{56,68}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,31},{56,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/qu_attack_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,76},{66,72}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{66,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/qu_attack_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,195},{66,68}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{66,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/qu_attack_f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,465},{58,52}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{58,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/qu_attack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,463},{56,48}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,43},{56,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/qu_attack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,209},{82,48}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,38},{82,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/qu_attack_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,293},{76,50}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,38},{76,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/qu_attack_fr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,148},{58,64}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,33},{58,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/qu_attack_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,282},{54,58}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,38},{54,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/qu_attack_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,388},{66,60}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{66,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/qu_attack_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,265},{68,64}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,33},{68,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/qu_attack_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,159},{50,74}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,27},{50,74}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/qu_attack_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,150},{46,68}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{46,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/qu_attack_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,279},{58,70}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,26},{58,70}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/qu_attack_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,219},{58,72}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,27},{58,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>die/qu_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{182,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,155}}</string>
                <key>sourceSize</key>
                <string>{182,155}</string>
            </dict>
            <key>die/qu_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{218,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,191}}</string>
                <key>sourceSize</key>
                <string>{218,191}</string>
            </dict>
            <key>die/qu_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{232,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,205}}</string>
                <key>sourceSize</key>
                <string>{232,205}</string>
            </dict>
            <key>die/qu_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,208}}</string>
                <key>sourceSize</key>
                <string>{232,208}</string>
            </dict>
            <key>die/qu_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{213,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,205}}</string>
                <key>sourceSize</key>
                <string>{213,205}</string>
            </dict>
            <key>die/qu_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,209},{175,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{175,177}</string>
            </dict>
            <key>move/back/qu_move_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,399},{68,60}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{68,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/qu_move_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,331},{68,62}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{68,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/qu_move_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,333},{66,64}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{66,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/qu_move_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,343},{64,64}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,33},{64,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/qu_move_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,399},{66,62}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{66,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/qu_move_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,223},{64,58}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{64,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/qu_move_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,374},{64,56}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{64,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/qu_move_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,463},{62,56}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{62,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/qu_move_br_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,195},{68,68}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{68,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/qu_move_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{66,72}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{66,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/qu_move_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,72},{62,74}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,27},{62,74}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/qu_move_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,419},{62,72}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,27},{62,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/qu_move_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,195},{66,70}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,27},{66,70}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/qu_move_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{68,68}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{68,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/qu_move_br_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,388},{68,66}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{68,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/qu_move_br_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,388},{68,66}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{68,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/qu_move_f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,409},{68,50}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{68,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/qu_move_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,465},{68,48}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{68,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/qu_move_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,322},{66,50}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{66,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/qu_move_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,432},{64,52}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/qu_move_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,268},{66,52}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{66,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/qu_move_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,214},{66,52}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{66,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/qu_move_f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,409},{64,52}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{64,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/qu_move_f_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,399},{62,52}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,40},{62,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/qu_move_fr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,339},{68,60}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{68,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/qu_move_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,343},{64,60}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,33},{64,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/qu_move_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,401},{62,62}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{62,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/qu_move_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,463},{62,64}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,34},{62,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/qu_move_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,461},{64,66}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{64,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/qu_move_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,265},{68,66}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{68,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/qu_move_fr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,267},{70,66}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{70,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/qu_move_fr_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,335},{68,62}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{68,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/qu_move_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,283},{58,68}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,27},{58,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/qu_move_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,456},{60,70}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{60,70}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/qu_move_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,456},{60,70}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{60,70}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/qu_move_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,456},{60,70}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{60,70}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/qu_move_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,211},{58,72}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,27},{58,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/qu_move_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,159},{58,72}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{58,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/qu_move_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,456},{56,70}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,27},{56,70}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/qu_move_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,397},{56,66}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,28},{56,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/qu_shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,461},{68,46}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,52},{68,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/qu_shadow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{68,42}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,51},{68,42}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/qu_shadow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,481},{58,36}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,59},{58,36}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/qu_shadow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,395},{68,38}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,57},{68,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/qu_shadow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,486},{68,30}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,60},{68,30}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>queen.pvr.ccz</string>
            <key>size</key>
            <string>{1009,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d96eeff4f6426cfe2ef65d5bb37049ae:1/1$</string>
            <key>textureFileName</key>
            <string>queen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
