<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sklup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,113},{97,39}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,71},{97,39}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,109}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{107,109}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{107,109}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{105,107}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{101,107}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{93,101}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{93,101}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,113},{81,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{81,87}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,113},{99,63}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{99,63}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,113},{105,81}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{105,81}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,113},{103,97}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{103,97}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,113},{105,99}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{105,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,113},{105,101}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{105,101}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{109,105}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{109,105}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{109,107}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{109,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>sklup_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{109,107}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{109,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sklup.pvr.ccz</string>
            <key>size</key>
            <string>{872,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:912b108f01e2523215f871c3aac3fa97:1/1$</string>
            <key>textureFileName</key>
            <string>sklup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
