<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aircraft.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,320},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
            <key>doctor.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,320},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
            <key>flame.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,161},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
            <key>ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,161},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
            <key>machine_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
            <key>mecha.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
            <key>tank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
            <key>valkyrie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
            <key>vulture.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,157}}</string>
                <key>sourceSize</key>
                <string>{159,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>formation.pvr.ccz</string>
            <key>size</key>
            <string>{485,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14fbdf4d9823545e16f6e0b3f634b859:1/1$</string>
            <key>textureFileName</key>
            <string>formation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
