<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{54,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{64,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eur_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>eur_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{62,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sweep_volume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goods.pvr.ccz</string>
            <key>size</key>
            <string>{441,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1457b4891e7b151e919242ee2acf9546:1/1$</string>
            <key>textureFileName</key>
            <string>goods.pvr.ccz</string>
        </dict>
    </dict>
</plist>
