<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_portrait_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{98,107}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,107}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,111}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{98,107}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,107}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,111}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{94,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,109}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{98,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,109}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{94,105}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{94,105}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{94,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,109}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{98,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,109}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{94,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,107}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{98,105}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{98,105}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{94,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,107}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>head_portrait_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{98,99}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head.pvr.ccz</string>
            <key>size</key>
            <string>{1286,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:014b456bca5daa36c860e387e5a2de95:1/1$</string>
            <key>textureFileName</key>
            <string>head.pvr.ccz</string>
        </dict>
    </dict>
</plist>
