<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skllight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,344},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{100,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,344},{124,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,344},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,344},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,344},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,344},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{116,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,344},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,344},{112,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,344},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,236},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{100,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,128},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{106,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{106,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{106,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{114,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skllight_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skllight.pvr.ccz</string>
            <key>size</key>
            <string>{1166,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73e3cc1d36bc7451b05e8791f938991b:1/1$</string>
            <key>textureFileName</key>
            <string>skllight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
