<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/back/va_attack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,440},{72,38}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{72,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/va_attack_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,276},{72,40}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{72,40}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/va_attack_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,276},{72,38}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{72,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/va_attack_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,440},{64,38}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,64},{64,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/va_attack_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,826},{70,54}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,57},{70,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/va_attack_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{70,54}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,58},{70,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/va_attack_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,754},{70,54}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,58},{70,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/va_attack_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,480},{66,50}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,59},{66,50}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/va_attack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{70,56}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,53},{70,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/va_attack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,680},{72,54}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,54},{72,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/va_attack_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{70,54}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{70,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/va_attack_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,318},{64,56}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,53},{64,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/va_attack_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{70,64}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{70,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/va_attack_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,608},{70,62}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,44},{70,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/va_attack_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{70,62}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{70,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/va_attack_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{64,60}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{64,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/va_attack_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,548},{56,60}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{56,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/va_attack_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,480},{58,60}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,49},{58,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/va_attack_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,376},{58,62}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,47},{58,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/va_attack_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,658},{58,56}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{58,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>die/va_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{141,157}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{141,157}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>die/va_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{151,143}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{151,143}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>die/va_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,157}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,157}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>die/va_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{139,133}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{139,133}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>die/va_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,139},{149,135}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{149,135}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>die/va_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{149,135}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{149,135}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>move/back/va_move_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,954},{58,38}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,63},{58,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/va_move_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,914},{58,38}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,64},{58,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/va_move_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,924},{58,38}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,64},{58,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/va_move_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,830},{56,38}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,64},{56,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/va_move_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,830},{58,38}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,64},{58,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back/va_move_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,898},{58,38}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,64},{58,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/va_move_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,604},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,59},{60,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/va_move_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,938},{60,46}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,61},{60,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/va_move_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,376},{62,46}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,61},{62,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/va_move_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,602},{60,46}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,61},{60,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/va_move_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,376},{62,46}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,61},{62,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/va_move_br_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,938},{60,46}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,61},{60,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/va_move_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,716},{58,54}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{58,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/va_move_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,840},{58,56}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,54},{58,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/va_move_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,772},{56,56}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/va_move_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,664},{56,56}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/va_move_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,772},{56,56}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{56,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/va_move_f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,840},{58,56}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,54},{58,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/va_move_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,778},{60,60}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{60,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/va_move_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,716},{60,60}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{60,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/va_move_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,654},{60,60}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{60,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/va_move_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,542},{60,60}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{60,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/va_move_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,654},{60,60}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{60,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/va_move_fr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,716},{60,60}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{60,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/va_move_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,938},{58,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{58,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/va_move_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,776},{58,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{58,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/va_move_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,722},{58,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{58,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/va_move_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,542},{58,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{58,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/va_move_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,722},{58,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{58,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/va_move_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,776},{58,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{58,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/va_shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,964},{56,36}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,67},{56,36}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/va_shadow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,376},{62,44}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,62},{62,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/va_shadow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,870},{58,42}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,67},{58,42}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/va_shadow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,898},{60,38}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,69},{60,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/va_shadow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{58,28}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,74},{58,28}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/va_stand_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,316},{58,38}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,64},{58,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/va_stand_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,610},{60,46}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,61},{60,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/va_stand_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,318},{58,56}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,53},{58,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/va_stand_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,480},{60,60}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{60,60}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/va_stand_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,870},{56,52}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,51},{56,52}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>valkyrie.pvr.ccz</string>
            <key>size</key>
            <string>{318,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69d84ef177cfb1b5bb691d5f1dcca9c1:1/1$</string>
            <key>textureFileName</key>
            <string>valkyrie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
