<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/back/wr_attack_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,874},{64,38}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{64,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/wr_attack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,808},{64,38}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{64,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/wr_attack_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,950},{64,38}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,49},{64,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/wr_attack_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,970},{64,36}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{64,36}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/wr_attack_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,950},{64,38}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,49},{64,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back/wr_attack_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,872},{64,38}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{64,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/wr_attack_br_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,936},{62,46}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{62,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/wr_attack_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,932},{62,46}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{62,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/wr_attack_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,430},{60,48}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{60,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/wr_attack_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,972},{62,48}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{62,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/wr_attack_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,380},{60,48}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{60,48}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/back_right/wr_attack_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,744},{62,46}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{62,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/wr_attack_f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,752},{64,62}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{64,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/wr_attack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,686},{64,64}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{64,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/wr_attack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,620},{64,64}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{64,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/wr_attack_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,904},{64,64}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{64,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/wr_attack_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,620},{64,64}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{64,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front/wr_attack_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,904},{64,64}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{64,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/wr_attack_fr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,878},{62,56}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,45},{62,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/wr_attack_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,814},{62,56}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,44},{62,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/wr_attack_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,750},{62,56}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,44},{62,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/wr_attack_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,686},{62,56}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,44},{62,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/wr_attack_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,874},{62,56}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{62,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/front_right/wr_attack_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,816},{62,56}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{62,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/wr_attack_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,816},{66,54}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{66,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/wr_attack_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,750},{64,54}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/wr_attack_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,816},{66,54}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{66,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/wr_attack_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,684},{64,54}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,41},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/wr_attack_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,684},{66,54}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{66,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>attack/right/wr_attack_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,884},{64,54}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{64,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>die/wr_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,352}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{352,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,380},{238,262}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,129},{238,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{186,376}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,83},{186,376}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,634},{268,268}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,117},{268,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,346},{276,286}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,112},{276,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,716},{282,306}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,107},{282,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{290,318}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,114},{290,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{300,336}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,105},{300,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{304,362}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,84},{304,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{310,342}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,109},{310,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>die/wr_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,356},{252,358}}</string>
                <key>offset</key>
                <string>{36,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,96},{252,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/wr_move_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,912},{64,36}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,51},{64,36}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/back_right/wr_move_br_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,680},{62,46}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{62,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front/wr_move_f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,904},{64,66}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{64,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/front_right/wr_move_fr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,620},{62,58}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{62,58}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>move/right/wr_move_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,548},{66,54}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{66,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>penshe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,970},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>penshe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,340},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>shadow/shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,620},{64,38}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{64,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/shadow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,984},{62,38}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{62,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/shadow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,340},{66,38}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,58},{66,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/shadow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,940},{62,44}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,56},{62,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>shadow/shadow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,904},{64,64}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{64,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back/wr_stand_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,634},{64,38}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{64,38}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/back_right/wr_stand_br_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,616},{62,46}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{62,46}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front/wr_stand_f_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,620},{64,62}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{64,62}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/front_right/wr_stand_fr_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,752},{62,56}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,45},{62,56}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>stand/right/wr_stand_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,480},{66,54}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{66,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wroith.pvr.ccz</string>
            <key>size</key>
            <string>{1166,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ddc765ef153f72260d560df01f82fd2:1/1$</string>
            <key>textureFileName</key>
            <string>wroith.pvr.ccz</string>
        </dict>
    </dict>
</plist>
