<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/back/ma_attack_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,822},{38,30}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,247},{38,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/back/ma_attack_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,822},{38,30}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,247},{38,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/back/ma_attack_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,822},{38,30}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,247},{38,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/back_right/ma_attack_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,492},{48,32}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,246},{48,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/back_right/ma_attack_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,492},{46,32}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,246},{46,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/back_right/ma_attack_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,404},{48,32}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,246},{48,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/front/ma_attack_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,308},{38,38}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,242},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/front/ma_attack_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,424},{38,36}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,243},{38,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/front/ma_attack_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,268},{38,38}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,242},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/front_right/ma_attack_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,500},{36,38}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,242},{36,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/front_right/ma_attack_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,626},{38,38}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,241},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/front_right/ma_attack_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,462},{36,38}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,242},{36,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/right/ma_attack_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,304},{48,36}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,242},{48,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/right/ma_attack_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,354},{48,34}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,244},{48,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>attack/right/ma_attack_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,254},{48,36}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,242},{48,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_attack_effect/m_atk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,162},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>m_attack_effect/m_atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>m_attack_effect/m_atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,654},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>m_attack_effect/m_atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,572},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>m_attack_effect/m_atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,77},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>m_die/m_die_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,572},{80,82}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,215},{80,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{206,156}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,167},{206,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{192,166}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,167},{192,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{200,162}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,167},{200,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{208,158}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,166},{208,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,160}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,167},{236,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{218,166}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,166},{218,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,164},{176,154}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,167},{176,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,342},{166,148}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,167},{166,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_die/m_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,492},{148,78}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,225},{148,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>m_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,822},{26,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,248},{26,16}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ma_shadow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,407},{30,12}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,266},{30,12}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/ma_move_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,535},{42,32}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,245},{42,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/ma_move_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,540},{42,32}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,245},{42,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/ma_move_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{40,30}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,245},{40,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/ma_move_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,579},{40,34}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,244},{40,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/ma_move_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,682},{40,32}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,246},{40,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back/ma_move_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,333},{42,32}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,245},{42,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/ma_move_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,538},{38,34}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,245},{38,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/ma_move_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,800},{36,34}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,245},{36,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/ma_move_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,697},{36,32}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,245},{36,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/ma_move_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,684},{38,32}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,244},{38,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/ma_move_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,663},{38,32}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,246},{38,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/back_right/ma_move_br_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,650},{38,32}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,246},{38,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/ma_move_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,491},{42,38}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,239},{42,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/ma_move_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,367},{42,38}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,240},{42,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/ma_move_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,226},{40,38}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,239},{40,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/ma_move_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,184},{40,38}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,239},{40,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/ma_move_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,142},{40,38}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,240},{40,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front/ma_move_f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,624},{42,40}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,238},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/ma_move_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,654},{46,38}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,238},{46,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/ma_move_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,204},{48,36}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,240},{48,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/ma_move_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,162},{46,40}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,238},{46,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/ma_move_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,758},{46,40}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,238},{46,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/ma_move_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,636},{44,40}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,239},{44,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/front_right/ma_move_fr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,716},{46,40}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,238},{46,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/ma_move_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,756},{36,36}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,242},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/ma_move_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,386},{38,36}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,242},{38,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/ma_move_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,621},{40,38}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,240},{40,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/ma_move_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,584},{40,38}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,240},{40,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/ma_move_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,542},{38,38}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,241},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>move/right/ma_move_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,348},{38,36}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,242},{38,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back/ma_stand_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,784},{36,32}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,245},{36,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back/ma_stand_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,746},{36,32}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,245},{36,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back/ma_stand_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,616},{38,32}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,245},{38,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back/ma_stand_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,822},{38,30}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,247},{38,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back/ma_stand_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,822},{36,30}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,247},{36,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back/ma_stand_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,708},{36,32}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,245},{36,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back_right/ma_stand_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,718},{36,36}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,243},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back_right/ma_stand_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,735},{36,36}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,243},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back_right/ma_stand_br_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,784},{36,36}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,243},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back_right/ma_stand_br_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,454},{38,36}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,243},{38,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back_right/ma_stand_br_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,746},{36,36}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,243},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/back_right/ma_stand_br_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,708},{36,36}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,243},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front/ma_stand_f_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,758},{36,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,239},{36,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front/ma_stand_f_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,716},{36,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,239},{36,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front/ma_stand_f_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,800},{36,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,239},{36,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front/ma_stand_f_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,449},{38,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,239},{38,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front/ma_stand_f_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,758},{36,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,239},{36,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front/ma_stand_f_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,716},{36,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,239},{36,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front_right/ma_stand_fr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,800},{40,40}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,238},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front_right/ma_stand_fr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,758},{40,40}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,238},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front_right/ma_stand_fr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,716},{40,40}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,238},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front_right/ma_stand_fr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,800},{40,40}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,238},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front_right/ma_stand_fr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,666},{40,40}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,238},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/front_right/ma_stand_fr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,666},{40,40}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,238},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/right/ma_stand_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,574},{40,40}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,239},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/right/ma_stand_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,582},{42,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,239},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/right/ma_stand_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,407},{42,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,239},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/right/ma_stand_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,291},{42,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,239},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/right/ma_stand_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,249},{42,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,239},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>stand/right/ma_stand_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,207},{42,40}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,239},{42,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>marine.pvr.ccz</string>
            <key>size</key>
            <string>{510,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e9b580a6adfe9dbda80c4375360a37d:1/1$</string>
            <key>textureFileName</key>
            <string>marine.pvr.ccz</string>
        </dict>
    </dict>
</plist>
