<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eftui_djts_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,350},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>eftui_djts_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{758,188}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,188}}</string>
                <key>sourceSize</key>
                <string>{758,204}</string>
            </dict>
            <key>eftui_djts_ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,350},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>eftui_djts_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{472,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,299}}</string>
                <key>sourceSize</key>
                <string>{472,299}</string>
            </dict>
            <key>eftui_djts_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,192},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>eftui_djts_ti.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,192},{160,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eftui_djts.pvr.ccz</string>
            <key>size</key>
            <string>{800,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e33c75afa605a114b136d6be3e80a69a:1/1$</string>
            <key>textureFileName</key>
            <string>eftui_djts.pvr.ccz</string>
        </dict>
    </dict>
</plist>
