<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_unlock_hg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,490},{192,270}}</string>
                <key>offset</key>
                <string>{-77,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,216},{192,270}}</string>
                <key>sourceSize</key>
                <string>{346,486}</string>
            </dict>
            <key>card_unlock_hg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{346,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,486}}</string>
                <key>sourceSize</key>
                <string>{346,486}</string>
            </dict>
            <key>card_unlock_hg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,486}}</string>
                <key>sourceSize</key>
                <string>{346,486}</string>
            </dict>
            <key>card_unlock_hg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{328,460}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{328,460}}</string>
                <key>sourceSize</key>
                <string>{346,486}</string>
            </dict>
            <key>card_unlock_hg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,490},{210,292}}</string>
                <key>offset</key>
                <string>{68,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,0},{210,292}}</string>
                <key>sourceSize</key>
                <string>{346,486}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_unlock_hg.pvr.ccz</string>
            <key>size</key>
            <string>{738,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdb56ada4908fd59b4e33c70591bc515:1/1$</string>
            <key>textureFileName</key>
            <string>card_unlock_hg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
